In [1]:
import pandas as pd

In [2]:
# Load of all .csv
df_ubereats_centro = pd.read_csv(r'csv/ubereats-pizza-centro.csv')
df_ubereats_alamos = pd.read_csv(r'csv/ubereats-pizza-alamos.csv')
df_ubereats_juriquilla = pd.read_csv(r'csv/ubereats-pizza-juriquilla.csv')
df_ubereats_milenio = pd.read_csv(r'csv/ubereats-pizza-milenio.csv')
df_ubereats_refugio = pd.read_csv(r'csv/ubereats-pizza-refugio.csv')

df_ubereats_balvanera = pd.read_csv(r'csv/ubereats-pizza-balvanera.csv')
df_ubereats_campanario = pd.read_csv(r'csv/ubereats-pizza-campanario.csv')
df_ubereats_cerritocolorado = pd.read_csv(r'csv/ubereats-pizza-cerritocolorado.csv')
df_ubereats_cimatario = pd.read_csv(r'csv/ubereats-pizza-cimatario.csv')
df_ubereats_el_pueblito = pd.read_csv(r'csv/ubereats-pizza-el-pueblito.csv')

df_rappi_centro = pd.read_csv(r'csv/rappi-pizza-centro.csv')
df_rappi_alamos = pd.read_csv(r'csv/rappi-pizza-alamos.csv')
df_rappi_juriquilla = pd.read_csv(r'csv/rappi-pizza-juriquilla.csv')
df_rappi_milenio = pd.read_csv(r'csv/rappi-pizza-milenio.csv')
df_rappi_refugio = pd.read_csv(r'csv/rappi-pizza-refugio.csv')

df_rappi_balvanera = pd.read_csv(r'csv/rappi-pizza-balvanera.csv')
df_rappi_campanario = pd.read_csv(r'csv/rappi-pizza-campanario.csv')
df_rappi_cerritocolorado = pd.read_csv(r'csv/rappi-pizza-cerritocolorado.csv')
df_rappi_cimatario = pd.read_csv(r'csv/rappi-pizza-cimatario.csv')
df_rappi_el_pueblito = pd.read_csv(r'csv/rappi-pizza-el-pueblito.csv')

frames = [
    df_ubereats_centro, 
    df_ubereats_alamos, 
    df_ubereats_juriquilla, 
    df_ubereats_milenio, 
    df_ubereats_refugio, 
    df_ubereats_balvanera, 
    df_ubereats_campanario, 
    df_ubereats_cerritocolorado, 
    df_ubereats_cimatario, 
    df_ubereats_el_pueblito, 
    df_rappi_centro, 
    df_rappi_alamos, 
    df_rappi_juriquilla, 
    df_rappi_milenio, 
    df_rappi_refugio, 
    df_rappi_balvanera, 
    df_rappi_campanario, 
    df_rappi_cerritocolorado, 
    df_rappi_cimatario, 
    df_rappi_el_pueblito]

# We concat all frames and ignore the current index to generate a new one
df = pd.concat(frames, ignore_index=True)

In [3]:
# There're 666 items
print('Size of the df: {} items'.format(df.count()['name']))

Size of the df: 676 items

In [4]:
# Note that the evals have ()
df.loc[:,['name','rating','evals']]

                                 name  rating  evals
0    Italianni's (Galerías Querétaro)     4.5  (151)
1      Strombolli "Villas del parque"     NaN    NaN
2           Domino's Queretaro Centro     4.4   (34)
3                     Alpaso Pizzeria     NaN    NaN
4            Pizza Hut Constituyentes     4.6    NaN
..                                ...     ...    ...
732                     La Piazza Qro     NaN    NaN
733                         Piu Pizza     4.8    NaN
734                  Abuelita´S Pizza     4.7    NaN
735                         Martinica     NaN    NaN
736                         Pizza Pop     NaN    NaN

[737 rows x 3 columns]

In [5]:
# Remove () from evals
df['evals'] = df['evals'].apply(lambda x: float(x[1:len(x)-1]) if not isinstance(x, float) else x)

#for index, row in df.iterrows():
#    print(float(row['evals'][1:len(row['evals'])-1]) if not isinstance(row['evals'], float) else row['evals'])

In [6]:
# Now the rating and evals are floats
df.loc[:,['name','rating','evals']]

                                 name  rating  evals
0    Italianni's (Galerías Querétaro)     4.5  151.0
1      Strombolli "Villas del parque"     NaN    NaN
2           Domino's Queretaro Centro     4.4   34.0
3                     Alpaso Pizzeria     NaN    NaN
4            Pizza Hut Constituyentes     4.6    NaN
..                                ...     ...    ...
732                     La Piazza Qro     NaN    NaN
733                         Piu Pizza     4.8    NaN
734                  Abuelita´S Pizza     4.7    NaN
735                         Martinica     NaN    NaN
736                         Pizza Pop     NaN    NaN

[737 rows x 3 columns]

In [7]:
totalEvals = df['evals'].sum()
print('The total evaluations were {}'.format(totalEvals))

The total evaluations were 28110.0

In [8]:
# Own operation is
# df['factor'] = df['evals'] / totalEvals
# df['stars'] = df['factor'] * df['rating']

df['factor'] = df['evals'] / totalEvals
df['stars'] = df['factor'] * df['rating']
df.loc[:,['name','rating','evals','factor','stars']]

                                 name  rating  evals    factor     stars
0    Italianni's (Galerías Querétaro)     4.5  151.0  0.005372  0.024173
1      Strombolli "Villas del parque"     NaN    NaN       NaN       NaN
2           Domino's Queretaro Centro     4.4   34.0  0.001210  0.005322
3                     Alpaso Pizzeria     NaN    NaN       NaN       NaN
4            Pizza Hut Constituyentes     4.6    NaN       NaN       NaN
..                                ...     ...    ...       ...       ...
732                     La Piazza Qro     NaN    NaN       NaN       NaN
733                         Piu Pizza     4.8    NaN       NaN       NaN
734                  Abuelita´S Pizza     4.7    NaN       NaN       NaN
735                         Martinica     NaN    NaN       NaN       NaN
736                         Pizza Pop     NaN    NaN       NaN       NaN

[737 rows x 5 columns]

In [9]:
# Order by the stars, to validate result
df.loc[:,['name','rating','evals','factor','stars']].sort_values(by=['stars'], ascending=False)

                                   name  rating  evals    factor     stars
238     Little Caesars (Constituyentes)     4.8  500.0  0.017787  0.085379
269         El Globo Citadina Querétaro     4.8  500.0  0.017787  0.085379
312         El Globo Queretaro Jardines     4.8  497.0  0.017681  0.084867
458         El Globo Queretaro Jardines     4.8  493.0  0.017538  0.084184
376  Little Caesars (Avenida de la Luz)     4.7  500.0  0.017787  0.083600
..                                  ...     ...    ...       ...       ...
732                       La Piazza Qro     NaN    NaN       NaN       NaN
733                           Piu Pizza     4.8    NaN       NaN       NaN
734                    Abuelita´S Pizza     4.7    NaN       NaN       NaN
735                           Martinica     NaN    NaN       NaN       NaN
736                           Pizza Pop     NaN    NaN       NaN       NaN

[737 rows x 5 columns]